*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url( arkaplan.jpg );
    background-position: center ;
    background-size: cover;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url( arkaplan.jpg );
    background-position: center ;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    border-radius: 50% ;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    color: #fff;
    text-align: center;
}
.content h1{
    font-size: 65px;
}
.content p {
    margin: 20px auto;
}
.content box ul {
    margin: 0;
    padding: 0;
    
}
.content box ul li {
    display: inline-block;
    margin: 15px;
    list-style: none;
    font-size: 30px;
}
.content box ul li a{
    color: #fff
    
}
.content div ul li a:hover{
    color: #b9b9b9;
}
body footer {
    font-size: large;
    color: #fff;
    text-align: center;
    }
    .content footer :hover{
        color: #ffffff;
    }
